*{
   padding: 0;
   margin: 3px;
   outline: 0;
   color: black;
}

body{
   background-image: linear-gradient(to left, rgb(0, 255, 234) , rgb(255, 255, 255));
   padding: 15px;
   padding-left: 32%;
   padding-right: 32%;
}
img{
   display: flex;
   width: 70%;
}

h1{
   display: flex;
   background-color: rgb(240, 248, 255);
   border-radius: 15px;
   justify-content: center;
   border-bottom: 5px solid black;
}


.container{
   background-color: rgb(240, 248, 255);
   border-radius: 15px;
   height: auto;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}

button{
   border-radius: 5px;
   height: 20px;
}

